{% extends 'admin-panel/panel/template/main.html'%}
{% load static %}
{% block 'title' %}Dashboard{% endblock %}
{% block 'content'%}

<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
      </div>
      <div class="content-body">
      <!-- Statistics -->
<div class="row match-height">
  <!-- First Row -->
  <div class="col-xl-4 col-lg-12">
          <div class="card">
              <div class="card-header">
                  <h4 class="card-title" id="heading-multiple-thumbnails">{{data.name}}</h4>
                  <a class="heading-elements-toggle">
                      <i class="la la-ellipsis-v font-medium-3"></i>
                  </a>
                  <div class="heading-elements">
                      <span class="avatar">
                          {% if data.image == "" %}
                          <img src="{% static 'adminPanel/panel/images/portrait/default.jpg'%}"  alt="avatar">
                          {% else %}
                          <img src="{{data.image.url}}" alt="avatar">
                          {% endif %}
                      </span>
                  </div>
              </div>
              <div class="card-content">
                  <div class="card-body">
                      <h4 class="card-title">{{data.interest}} Developer</h4>
                      <p class="card-text">{{data.about}}</p>
                  </div>
              </div>
          </div>
  </div>
  <!-- Second Row -->
  <div class="col-xl-4 col-lg-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">Account Status</h4>
              <a class="heading-elements-toggle">
                  <i class="fa fa-ellipsis-v font-medium-3"></i>
              </a>
          </div>
          <div class="card-content">
              <div id="recent-buyers" class="media-list">
                  <a href="#" class="media border-0">
                      
                      <div class="media-body w-100">
                          <span class="list-group-item-heading">User Profile

                          </span>
                          <ul class="list-unstyled users-list m-0 float-right">
                              <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Product 1" class="avatar avatar-sm pull-up">
                                  {% if data.name == 'Unknown' or data.name == 'Not Assigned' %}
                                  <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="{% static 'adminPanel/panel/images/portrait/small/cross.jpg'%}"
                                      alt="Avatar">
                                  {% else %}
                                  <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="{% static 'adminPanel/panel/images/portrait/small/tick.jpg'%}"
                                      alt="Avatar">
                                  {% endif %}
                              </li>
                          </ul>
                          <p class="list-group-item-text mb-0">
                              <span class="blue-grey lighten-2 font-small-3"> 
                                  {% if data.name == 'Unknown' or data.name == 'Not Assigned' %}
                                  Incomplete
                                  {% else %}
                                  Complete
                                  {% endif %}    
                              </span>
                          </p>
                      </div>
                  </a>
                  <a href="#" class="media border-0">
                      
                      <div class="media-body w-100">
                          <span class="list-group-item-heading">Work Experience

                          </span>
                          <ul class="list-unstyled users-list m-0 float-right">
                              <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Product 1" class="avatar avatar-sm pull-up">
                                  {% if work.title == '' or work == None %}
                                  <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="{% static 'adminPanel/panel/images/portrait/small/cross.jpg'%}"
                                      alt="Avatar">
                                  {% else %}
                                  <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="{% static 'adminPanel/panel/images/portrait/small/tick.jpg'%}"
                                      alt="Avatar">
                                  {% endif %}
                              </li>
                          </ul>
                          <p class="list-group-item-text mb-0">
                              <span class="blue-grey lighten-2 font-small-3">
                                  {% if work.title == '' or work == None %}
                                  Incomplete
                                  {% else %}
                                  Complete
                                  {% endif %} </span>
                          </p>
                      </div>
                  </a>
                  <a href="#" class="media border-0">
                      
                      <div class="media-body w-100">
                          <span class="list-group-item-heading">Qualification

                          </span>
                          <ul class="list-unstyled users-list m-0 float-right">
                              <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Product 1" class="avatar avatar-sm pull-up">
                                  {% if education.title == '' or education == None %}
                                  <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="{% static 'adminPanel/panel/images/portrait/small/cross.jpg'%}"
                                      alt="Avatar">
                                  {% else %}
                                  <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="{% static 'adminPanel/panel/images/portrait/small/tick.jpg'%}"
                                      alt="Avatar">
                                  {% endif %}
                              </li>
                          </ul>
                          <p class="list-group-item-text mb-0">
                              <span class="blue-grey lighten-2 font-small-3">
                                  {% if education.title == '' or education == None %}
                                  Incomplete
                                  {% else %}
                                  Complete
                                  {% endif %}
                              </span>
                          </p>
                      </div>
                  </a>
                  <a href="#" class="media border-0">
                      
                      <div class="media-body w-100">
                          <span class="list-group-item-heading">Project

                          </span>
                          <ul class="list-unstyled users-list m-0 float-right">
                              <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Product 1" class="avatar avatar-sm pull-up">
                                  {% if project.title == '' or project == None %}
                                  <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="{% static 'adminPanel/panel/images/portrait/small/cross.jpg'%}"
                                      alt="Avatar">
                                  {% else %}
                                  <img class="media-object rounded-circle no-border-top-radius no-border-bottom-radius" src="{% static 'adminPanel/panel/images/portrait/small/tick.jpg'%}"
                                      alt="Avatar">
                                  {% endif %}
                              </li>
                          </ul>
                          <p class="list-group-item-text mb-0">
                              <span class="blue-grey lighten-2 font-small-3">
                                  {% if project.title == '' or project == None %}
                                  Incomplete
                                  {% else %}
                                  Complete
                                  {% endif %}
                              </span>
                          </p>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>   
  <!-- Third Row -->
  <div class="col-xl-4 col-lg-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title">Recent Users</h4>
              <a class="heading-elements-toggle">
                  <i class="fa fa-ellipsis-v font-medium-3"></i>
              </a>
              <div class="heading-elements">
                  <ul class="list-inline mb-0">
                      <li>
                          <a data-action="reload">
                              <i class="ft-rotate-cw"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="card-content">
              <div id="recent-buyers" class="media-list">
                  <!-- All Users -->
                  {% for u in all %}
                  <a href="#" class="media border-0">
                      <div class="media-left pr-1">
                          <span class="avatar avatar-md 
                          {% if current == u.username %}
                          avatar-online
                          {%endif%}
                          ">
                          {% if current == u.username %}
                          {% if data.image != '' %}
                          <img class="media-object rounded-circle" style="height: 40px; width: 50px;" src="{{ data.image.url }}" alt="Generic placeholder image">
                          {% else %}
                          <img class="media-object rounded-circle" src="{% static 'adminPanel/panel/images/portrait/default.jpg'%}" alt="Generic placeholder image">
                          {% endif %}
                          {% else %}
                          <img class="media-object rounded-circle" src="{% static 'adminPanel/panel/images/portrait/default.jpg'%}" alt="Generic placeholder image">
                          {% endif %}
                              <i></i>
                          </span>
                      </div>
                      <div class="media-body w-100">
                          <span class="list-group-item-heading">{{ u.username }}
                          </span>
                          
                          <p class="list-group-item-text mb-0">
                              <span class="blue-grey lighten-2 font-small-3"> 
                                  {% if current == u.username %} 
                                  Online
                                  {% else %}
                                  Offline 
                                  {% endif%}
                              </span>
                          </p>
                      </div>
                  </a>
                  {%endfor%}
              </div>
          </div>
      </div>
  </div>

  
</div>
<!--/ Statistics -->
      </div>
    </div>
  </div>

{% endblock %}  