{% extends 'admin-panel/panel/template/main.html'%}
{% load static %}
{% block 'title' %}Delete User{% endblock %}
{% block 'content'%}
<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title">All Users</h3>
          {% if error %}<h4 class="content-header-title" style="color: red;">{{error}}</h4>{%endif%}
        </div>
        <!-- breadcrumb -->
        <div class="content-header-right col-md-8 col-12">
            <div class="breadcrumbs-top float-md-right">
              <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'index'%}">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">All Users
                  </li>
                </ol>
              </div>
            </div>
          </div>
       </div>
       <div class="content-body">
		<!-- Basic Tables start -->
			<div class="row">
			<div class="col-12">
			<div class="card">
			<div class="card-header">
				<h4 class="card-title">User Profile</h4>
				<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
				<div class="heading-elements">
					<ul class="list-inline mb-0">
						<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
						<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
						<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
						<li><a data-action="close"><i class="ft-x"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="card-content collapse show">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Interest</th>
									<th>Address</th>
									<th>Contact</th>
									<th>Email</th>
									<th>Website</th>
									<th>Image</th>
                                    <th>Resume</th>
                                    <th></th>
								</tr>
							</thead>
							<tbody>
                                {%for a in all%}
								<tr>
									<td>
                                        {% if a.name == 'Not Assigned' or a.name == 'Unknown'%}
                                        {{a.vuser}}
                                        {%else%}
                                        {{a.name}}
                                        {% endif %}
                                    </td>
									<td>{{a.interest}}</td>
									<td>{{a.address}}</td>
									<td>{% if a.phone_no == 0 %}
                                        No
                                        {%else%}
                                        Yes
                                        {%endif%}
                                    </td>
									<td>
                                        {% if a.email == '' %}
                                        No
                                        {%else%}
                                        Yes
                                        {%endif%}</td>
									<td>{% if a.website != ''%}
                                        Yes 
                                        {%else%}
                                        No
                                        {%endif%}
                                    </td>
									<td>
									{% if data.image != '' %}
										True
									{% else %}	
										False
									{%endif%}
									</td>
									<td>
										{%if data.resume %}
										True
										{%else%}
										False
                                        {%endif%}
                                        
                                    </td>
                                    <td>
                                        {% if a.vuser != data.vuser %}
                                        <a href="{% url 'superDelConfirm' a.vuser.id %}" onclick="return confirm('Are you sure you want to delete this User?');"><i class="ft-trash"></i></a>
                                        {%endif%}
                                    </td>
                                    
                                </tr>
                                {% endfor%}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
			</div>
        </div>  
        
    </div>
</div>

{% endblock %}  