{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Time Form!</title>
    <link rel="stylesheet" href="{% static 'adminPanel/OTF/css/style.css' %}">
</head>
<body>
    <form method="POST" id="msform" action="{% url 'otf' %}">
        {% csrf_token %}
    <!-- progressbar -->
        <ul id="progressbar">
            <li class="active">Personal Details</li>
            <li>Experience</li>
            <li>Education</li>
            <li>Project</li>
        </ul>
        {% if error %}
            {{error}}
        {%endif%}
        <fieldset>
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">Some Detail to get you started</h3>
            <input type="text" name="name" placeholder="Name" />
            <input type="text" name="interest" placeholder="Interest" />
            <input type="text" name="address" placeholder="Address" />
            <input type="text" name="phone" placeholder="Contact Number" />
            <input type="text" name="website" placeholder="Website Link" />
            <input type="text" name="about" placeholder="About" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Experience</h2>
            <h3 class="fs-subtitle">Previous Work Experience</h3>
            <input type="text" name="title" placeholder="Job  Title" />
            <input type="text" name="cname" placeholder="Company Name" />
            <input type="text" name="wfrom" placeholder="Work Start Date" />
            <input type="text" name="wtill" placeholder="Work End Date" />
            <input type="text" name="wdesc" placeholder="Work Description" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Education</h2>
            <h3 class="fs-subtitle">Your Education Level</h3>
            <input type="text" name="etitle" placeholder="Title" />
            <input type="text" name="ename" placeholder="Name" />
            <input type="text" name="efrom" placeholder="Start Day" />
            <input type="text" name="etill" placeholder="End Day" />
            <input type="text" name="edesc" placeholder="Description" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Project</h2>
            <h3 class="fs-subtitle">Your Previous Works</h3>
            <input type="text" name="ptitle" placeholder="Title" />
            <input type="text" name="pname" placeholder="Name" />
            <input type="button" name="previous" class="previous action-button" value="Previous" />
            <input type="submit" name="submit" id="submit" class="submit action-button" value="submit" />
        </fieldset>
    </form>
  <script src="{% static 'adminPanel/OTF/js/jquery.min.js' %}"></script>
  <script src="{% static 'adminPanel/OTF/js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'adminPanel/OTF/js/main.js' %}"></script>
</body>
</html>